# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Environments
.venv/
venv/
.env
.env.*

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.log

# Coverage / test
.coverage
htmlcov/
.pytest_cache/
